/*************** Message List ***************/
.msgList {
	padding: 20px;
	border: 1px solid #A1BBD0;
}
.msgList_top {
	width: 90%;
	margin: auto;
}

.msg button {
	background-color: #A1BBD0;
	color: #fff;
}
.msg button:active,
.msg button:hover,
.msg button:focus {
	background-color: #E69138;
	color: #F4E7D7;
}

.msgListContent {
	width: 90%;
	margin: auto;
	margin-top: 60px;
}

.msgBox {
	/*border: 1px solid #A1BBD0;*/
}
.msgBox .panel-heading {
	height: 60px;
}
.msgBox img {
	width: 40px;
	height: 40px;
}

.msgBox .msgSender{
	color: #797979;
	font-size: 18px;
	font-weight: 700;
	margin-left: 20px;
}

.msgBox .panel-heading a:active .msgSender,
.msgBox .panel-heading a:hover .msgSender,
.msgBox .panel-heading a:focus .msgSender {
	color: #E69138;
}

.fa-chevron-down,
.fa-chevron-up {
	font-size: 20px;
	color: #797979;
	margin-left: 20px;	
}

.msgContentBox {
	
}
.msgContent {
	background-color: #eeeeee; 
	padding: 10px;
}



/*************** Message Detail ***************/
.msgDetail {
	padding: 20px;
	border: 1px solid #A1BBD0;
}

.msgDetailContent {
	width: 90%;
	margin: auto;
}

/*************** Message Send ***************/
.msgSend {
	padding: 20px;
	border: 1px solid #A1BBD0;
}
.msgSendContent {
	width: 90%;
	margin: auto;
}
.msgForm {
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
	border-radius:5px;
	padding: 40px;
	
}

.msgForm label {
	font-size: 16px;
}

#msgText {
	height: 250px;
}

.msgBtn {
	margin-top: 30px;
	margin-bottom: 30px;
}









