/********* portfolio register ***********/
.pfreg {
	padding: 20px;
	background-color: #e1e1e1;
}

.pfregForm {
	width: 90%;
	margin: 25px auto;
}
.formTitle {
	margin: 50px auto;
}
.pfregForm label {
	text-align: right !important;
	font-size: 14px;
}

.buttonDiv {
	margin-top: 30px;
	margin-bottm: 30px;
	border-bottom: none !important;
}

button.cancel {
	background-color: #bebebe;
	color: #fff;
}


/********* portfolio list ***********/
.pflist {
	padding: 20px;
	border: 1px solid #A1BBD0;
	border-radius: 10px;
}
.pflist_top {
	width: 90%;
	margin: 20px auto;
}
.sorting {
	line-height: 30px;
	font-size: 14px;
}
.pflist_box {
	width: 90%;
	margin: 30px auto;
}

/*** Hover Effect ***/
.image-hover{
 	position: relative;
 }

.top-hover-right{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:  10px;
  right: 20px;
}

.image-hover:hover .top-hover-right {
  opacity: 1;
}

.after-hover {
  opacity: 0.9;
  font-size: 16px;
}

.btn-hover{
  opacity: 1;
}
.btn-hover:active,
.btn-hover:hover,
.btn-hover:focus {
	color: #E69138;
}


/********* project list ***********/
.projlist {
	padding: 20px;
	background-color: #e1e1e1;
}
.projlist_top {
	width: 90%;
	margin: 20px auto;
	text-align: right;
}
.proj_my {
	width: 90%;
	margin: 40px auto;
}
.projlist p {
	font-size: 20px;
	margin-bottom: 30px;
}
.projlist .panel-heading span {
	line-height: 34px;
}
.projlist .line {
	border-top: 1px solid #fff;
}
.proj_apply {
	width: 90%;
	margin: 40px auto;
}

.fa-chevron-down,
.fa-chevron-up {
	font-size: 20px;
	color: #797979;
	margin-left: 20px;	
}

/********* project register ***********/
.projreg {
	padding: 20px;
	background-color: #e1e1e1;
}

.projregForm {
	width: 90%;
	margin: 25px auto;
}
.projregForm label {
	text-align: right !important;
	font-size: 14px;
}


/********* profile register ***********/
.profreg {
	padding: 20px;
	background-color: #e1e1e1;
}
.profregForm {
	width: 90%;
	margin: 25px auto;
}
.profregForm label {
	text-align: right !important;
	font-size: 14px;
}

#snsList tr {
	height: 40px;
}



.profregForm #skillList {
	margin-top: 20px;
}
#skillList .skill {
	text-align: center;
}
#skillList .progress-bar {
	background-color: #E69138;
}





